body {
  background-color: black;
  font-family: Sans-Serif;
  color: white;
}

h1 {
  text-align: center;
}

h1:hover {
  text-decoration: bold;
  color: yellow;
}

h3:hover {
  text-decoration: bold;
  color: yellow;
}
